@media screen and (min-width: 500px) {

.post-content {
  margin-left: 5em;
  margin-right: 5em;
}

.post-content > p {
  line-height: 1.7em;
  font-size: 20px;
  margin: 1.5em 0 1.5em 0;
}

.post-content > h1 {
  margin: 1.5em 0 1.5em 0;
}

.abstract {
  font-style: italic;
}

.post-content > .post-info {
  margin: 1em 0 0 0;
  font-style: italic;
  font-size: 14px;
  color: #444444;
}

.post-title {

}

}


/* Small screen support below */
@media screen and (max-width: 500px) {

.post-content {
  margin-left: 0rem;
  margin-right: 0rem;
}

.post-content > p {
  line-height: 1.7rem;
  font-size: 16px;
  margin: 1rem 0 1rem 0;
}

.post-content > h1 {
  margin: 1rem 0 1rem 0;
}

.abstract {
  font-style: italic;
}

.post-content > .post-info {
  margin: 1em 0 0 0;
  font-style: italic;
  font-size: 12px;
  color: #444444;
}

.post-title {

}

}
