:root {
  --text-light: white;
  --text-dark: black;
  --theme-background: #ff6600;
  --theme-button: #bb3300;
}

@media screen and (min-width: 500px) {
.container {
  max-width: 1000px;
  font-family: sans-serif;
  margin: auto;
  font-family: sans-serif;
}

.heading {
  color: var(--theme-background);
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-link-item {
  display: flex;
  border-radius: 10px;
  margin: 8px;
  margin-top: 10px;
  background-color: var(--theme-button);
  flex: 1 1 0;
  align-items: center;
}
.nav-link-text {
  text-decoration: none;
  margin: 0 auto;
  color: var(--text-light);
  font-weight: bold;
  font-size: 25px;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.nav-link-item:hover {
  margin-bottom: 7px;
}

.nav-link-text:hover {
  color: black;
  border-bottom-width: 4px;
  border-radius: 10px;
  padding-bottom: 7px;
  border-bottom-style: solid;
  border-bottom-color: var(--text-dark);
}
.nav-bar {
  padding: 0px 0px 0px 0px;
  background-color: var(--theme-background);
  align-content: center;
}

.socials {
  background-color: var(--theme-background);
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-light);
  font-weight: bold;
}

.social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 10px 0 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.social-link-item {
  display: flex;
  border-radius: 10px;
  margin: 10px;
  margin-top: 0;
  background-color: var(--theme-button);
  flex: 1 1 0;
  align-items: center;
}

.social-link-text {
  text-decoration: none;
  margin: 0 auto;
  color: inherit;
  font-weight: inherit;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
i {
  transform: scale(2,2);
  padding-bottom: 4px;
  margin-bottom: 4px;
  padding-top: 4px;
  max-width:45px;
}

.social-link-item:hover {
  margin-bottom: 9px;
}

.social-link-text:hover {
  color: var(--text-dark);
  border-bottom-width: 4px;
  border-radius: 10px;
  padding-bottom: 7px;
  border-bottom-style: solid;
  border-bottom-color: var(--text-dark);
}

.social-header-text {
  color: inherit;
  font-weight: inherit;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.site-title {
  font-size: 3rem;
  color: var(--theme-background);
  font-weight: 700;
  margin: 1rem 0;
}

.abstract-text {
  font-style: italic;
}

.date-published-text {
  font-style: italic;
  text-decoration: underline;
}

.index-box {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 0 0 0;
}

.index-pic-box {
  min-width: 20%;
}

.index-pic {
  width: 180px;
  border-radius: 100px;
}

.index-top-text {
  max-width: 78%;
  min-width: 78%;
  font-size: 1.2rem;
  line-height: 1.5em;
  padding-left: 2%;
  margin: 0;
  flex-shrink: 5;
}

.copyright {
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.seperator {
  background-color: var(--theme-background);
  color: var(--text-light);
  font-weight: bold;
  font-size: 33px;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.portfolio-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

}

/* Small screen supported below */

@media screen and (max-width: 500px) {
.container {
  max-width: 1000px;
  font-family: sans-serif;
  margin: 0;
  font-family: sans-serif;
}

.heading {
  color: var(--theme-background);
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-link-item {
  display: flex;
  border-radius: 10px;
  margin: 8px;
  margin-top: 10px;
  background-color: var(--theme-button);
  flex: 1 1 0;
  align-items: center;
}
.nav-link-text {
  text-decoration: none;
  margin: 0 auto;
  color: var(--text-light);
  font-weight: bold;
  font-size: 25px;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.nav-link-item:hover {
  margin-bottom: 7px;
}

.nav-link-text:hover {
  color: black;
  border-bottom-width: 4px;
  border-radius: 10px;
  padding-bottom: 7px;
  border-bottom-style: solid;
  border-bottom-color: var(--text-dark);
}
.nav-bar {
  padding: 0px 0px 0px 0px;
  background-color: var(--theme-background);
  align-content: center;
}

.socials {
  background-color: var(--theme-background);
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-light);
  font-weight: bold;
}

.social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 10px 0 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.social-link-item {
  display: flex;
  border-radius: 10px;
  margin: 10px;
  margin-top: 0;
  background-color: var(--theme-button);
  flex: 1 1 0;
  align-items: center;
}

.social-link-text {
  text-decoration: none;
  margin: 0 auto;
  color: inherit;
  font-weight: inherit;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
i {
  transform: scale(2,2);
  padding-bottom: 4px;
  margin-bottom: 4px;
  padding-top: 4px;
  max-width:45px;
}

.social-link-item:hover {
  margin-bottom: 9px;
}

.social-link-text:hover {
  color: var(--text-dark);
  border-bottom-width: 4px;
  border-radius: 10px;
  padding-bottom: 7px;
  border-bottom-style: solid;
  border-bottom-color: var(--text-dark);
}

.social-header-text {
  color: inherit;
  font-weight: inherit;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.site-title {
  font-size: 2.7rem;
  color: var(--theme-background);
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;
}

.abstract-text {
  font-style: italic;
}

.date-published-text {
  font-style: italic;
  text-decoration: underline;
}

.index-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 0 0;
  padding: 0;
}

.index-pic-box {
  min-width: 10%;
}

.index-pic {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.index-top-text {
  max-width: 90%;
  min-width: 90%;
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0;
  flex-shrink: 5;
  text-align: justify;
}

.copyright {
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.seperator {
  background-color: var(--theme-background);
  color: var(--text-light);
  font-weight: bold;
  font-size: 33px;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

}
